#cover {
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../assets/mikra-janela.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 100px;
    position: relative;
    z-index: -1;
}
#cover-container {
    position: relative
}
.center-children {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.project {
    height: 250px;
    box-shadow: rgba(0, 0, 0, .6) 0px 0px 1px 1px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(230, 230, 230, 0.2);
    cursor: pointer;
    transition: all .5s ease;
}
.project:hover {
    filter: brightness(0.5);
}
.header {
    height: 33%;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), var(--bg-image);
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    color: white;
    position: relative;
}
.project-description {
    padding: 10px;
    margin-top: 30px;
}
.project-icon {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: absolute;
    bottom: -30px;
    left: 10px;
    background-color: black;
}
.white-bg {
    background-color: white;
}